.section--center{
	margin:5px 5px 30px 5px;
}

.section--center .title{
	margin: 0 0 10px 5px;	
}

.mdl-card{
	margin-bottom: 10px;
	width: 100%;
}

.mdl-js-radio{
	margin-right: 10px;
}

.mdl-card__supporting-text {
	font-size: 18px;
}