.section--center{
	margin:5px 5px 30px 5px;
}

.section--center .title{
	margin: 0 0 10px 5px;	
}

.mdl-card{
	margin-bottom: 10px;
	width: 100%;
}

.mdl-js-radio{
	margin-right: 10px;
}

.mdl-card__supporting-text {
	font-size: 18px;
}

.nav-section-text .mdl-navigation__link{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.wrapper-button{
	display:block;
	margin: 20px 5px;
}

.wrapper-button button{
	width: 100%;
}