<section class="section--center mdl-grid mdl-shadow--2dp" id="section-info">
	<h5 class="title">Dados do Estabelecimento</h5>
	<label class="mdl-textfield mdl-js-textfield" for="store-name">
		<span class="mdl-radio__label ">Nome:</span><br>
		<select name="store-name" class="mdl-textfield__input" id="store-name">
			<option value="">...</option>
			<option value="Bocattino Novo Hamburgo">Bocattino Novo Hamburgo</option>
			<option value="Bocattino Bourbom Country">Bocattino Bourbom Country</option>
			<option value="Bocattino Bourbom Walling">Bocattino Bourbom Walling</option>
			<option value="Bocattino Iguatemi">Bocattino Iguatemi</option>
			<option value="Bocattino Barra">Bocattino Barra</option>
			<option value="Bocattino Canoas">Bocattino Canoas</option>
			<option value="Bocattino Pelotas">Bocattino Pelotas</option>
			<option value="Bocattino São Leopoldo">Bocattino São Leopoldo</option>
			<option value="Belgaleto Boulevard">Belgaleto Boulevard</option>
			<option value="Belgaleto Ipiranga">Belgaleto Ipiranga</option>
			<option value="Belgaleto Aeroporto">Belgaleto Aeroporto</option>
			<option value="Bocattino Box Trend">Bocattino Box Trend</option>
			<option value="Bocattino Box Unisinos">Bocattino Box Unisinos</option>
		</select>
	</label>
	<div class="mdl-textfield mdl-js-textfield">
		<span class="mdl-radio__label ">Responsável:</span>
		<input class="mdl-textfield__input" type="text" name="store-register" placeholder="...">
	</div>
	<div class="mdl-textfield mdl-js-textfield">
		<span class="mdl-radio__label ">Alvará:</span>
		<input class="mdl-textfield__input" type="text" name="store-manager" placeholder="...">
	</div>
	<div class="mdl-textfield mdl-js-textfield">
		<span class="mdl-radio__label ">Data:</span>
		<input class="mdl-textfield__input" type="date" name="date-register" placeholder="Data">
	</div>
	<div class="mdl-textfield mdl-js-textfield">
		<span class="mdl-radio__label ">Hora:</span>
		<input class="mdl-textfield__input" type="time" name="time-register" placeholder="Data">
	</div>
</section>
