<div class="mdl-card question-section">
	<div class="mdl-card__supporting-text question-name">{{ sectionIndex + loop.index }}) {{ item.name }}?</div>
	<div class="mdl-card__actions">
		<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-{{ sectionIndex + loop.index0 }}1">
		<input type="radio" id="option-{{ sectionIndex + loop.index0 }}1" class="mdl-radio__button" name="question-{{ sectionIndex + loop.index0 }}" value="Conforme">
		<span class="mdl-radio__label ">C</span>
		</label>
		<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-{{ sectionIndex + loop.index0 }}2">
		<input type="radio" id="option-{{ sectionIndex + loop.index0 }}2" class="mdl-radio__button" name="question-{{ sectionIndex + loop.index0 }}" value="NC">
		<span class="mdl-radio__label ">NC</span>
		</label>
		<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-{{ sectionIndex + loop.index0 }}3">
		<input type="radio" id="option-{{ sectionIndex + loop.index0 }}3" class="mdl-radio__button" name="question-{{ sectionIndex + loop.index0 }}" value="NA">
		<span class="mdl-radio__label ">NA</span>
		</label>
		<div style="display:block; margin-top:10px;">
			<div id="wrapper-image-{{ sectionIndex + loop.index0 }}"></div>
			<button type="button" style="display:block; margin-top:10px;" class="add-image" data-id="{{ sectionIndex + loop.index0 }}">Adicionar Foto</button>
		</div>
		<div class="mdl-textfield mdl-js-textfield" style="display:block;">
			<textarea class="mdl-textfield__input" placeholder="Obs" type="text" rows= "3" id="question-obs-{{ sectionIndex + loop.index0 }}" name="question-obs-{{ sectionIndex + loop.index0 }}"></textarea>
		</div>
	</div>
</div>